/*
Don't want to use sass and simply modify the stylesheet in the old css fashion?
Just customize your theme here.
================================================== */

body {}

.highlight > pre {
  padding: 0.5rem 1rem;
}

.sidebar .category {
  width: auto;
  display: inline-block;
  margin: 5px;
  padding: 2px 10px;
  background: #e1e1e1;
  border-radius: 4px;
}